{% extends 'base.html.twig' %}

{% block title %}WheyMax{% endblock %}

{% block body %}


  
   <section id="hero">
        <video autoplay muted loop id="myVideo">
            <source src="../whey/production_id_4761426 (2160p).mp4" type="video/mp4">
        </video>

<!-- Optional: some overlay text to describe the video -->
<div class="content-hero">
  <h1>WheyMax</h1>
  <p>dépassez vos limites !</p>
  <!-- Use a button to pause/play the video with JavaScript -->
  
</div>

   </section>
    {# <div class="content"> #}
        <section class="product-section">
    <h2 class="production">Produits Vedettes</h2> <!-- Titre ajouté ici -->
    {% for product in products %}
        <div class="card">
            <img src="{{ product.imgProduct }}" alt="{{ product.name }}"> 
            <div class="card-content">
                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text">{{ product.description }}</p>
                <a href="{{ path('product_show', {'id': product.id}) }}" class="btn-primary">En savoir plus</a> 
            </div>
        </div>
    {% else %}
        <p>Aucun produit trouvé...</p>
    {% endfor %}
</section>

    <section class="img-section">
    <img src="public\whey\pexels-polina-tankilevitch-4443487.jpg" type"jus-image"></section>

{% endblock %}
