    {# templates/products.html.twig #}

    {% extends 'base.html.twig' %}

    {% block title %}WheyMax{% endblock %}

    {% block body %}
    <header>
        <div class="header-content">
            <h1>WheyMax: Produits de construction musculaire premium</h1>
            <nav>
                <a href="/login" class="btn-primary">Se Connecter</a>
                <a href="/register" class="btn-primary">S'inscrire</a>
                <a href="/product" class="btn-primary">Produits</a>
                <a href="/cart" class="btn-primary">Panier</a>
            </nav>
        </div>
    </header>
<div class="content">
    <section class="product-section">
        <h2>Produits Vedettes</h2>
        {% for product in products %} <!-- Boucle sur chaque produit -->
            <div class="card">
                <!-- Utilisez l'attribut approprié pour le chemin de l'image du produit -->
                <img src="{{ product.imgProduct }}" alt="{{ product.name }}"> 
                <div class="card-content">
                    <h3 class="card-title">{{ product.name }}</h3>
                    <p class="card-text">{{ product.description }}</p>
                    <!-- Assurez-vous que le chemin est correct et mène à la page de détail du produit -->
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn-primary">En savoir plus</a> 
                </div>
            </div>
        {% else %}
            <p>Aucun produit trouvé.</p> <!-- Affichez ce message si aucun produit n'est trouvé -->
        {% endfor %}
    </section>
</div>
<footer>
    <!-- ... Votre pied de page ... -->
</footer>
{% endblock %}
