        {# templates/product/edit.html.twig #}

        {% extends 'base.html.twig' %}

        {% block title %}Edit Product{% endblock %}

        {% block body %}
        <h1>Edit Product</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_row(form.flavors) }}

        <button type="submit">Update</button>
        {{ form_end(form) }}

        <a href="{{ path('product_show', {'id': product.id}) }}">Cancel</a>
        {% endblock %}
