    {# templates/product/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Product Details{% endblock %}

{% block body %}
<h1>Product Details</h1>

<table>
    <tr>
        <th>Name</th>
        <td>{{ product.name }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ product.description }}</td>
    </tr>
    <tr>
        <th>Stock</th>
        <td>{{ product.stock }}</td>
    </tr>
    <tr>
        <th>Volume</th>
        <td>{{ product.volume }}</td>
    </tr>
    <!-- Add more details as needed -->
</table>

<a href="{{ path('product_index') }}">Back to list</a>
<a href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
<form action="{{ path('product_delete', {'id': product.id}) }}" method="post" onsubmit="return confirm('Are you sure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button type="submit">Delete</button>
</form>
{% endblock %}
    